<h1>Editing Book</h1>
<% if @book.errors.any? %>
  <h2><%= @book.errors.count %> errors prohibited this obj from being saved:</h2>
  <% @book.errors.full_messages.each do |message| %>
    <li><%= message %></li>
  <% end %>
<% end %>

<%= form_with model:@book, local:true do |f| %>
  <h4>Title</h4>
  <%= f.text_field :title, autofocus: true %>
  <h4>Option</h4>
  <%= f.text_field :body %></br>
  <%= f.submit "Update Book", class: 'link text-light btn btn-success btm-sm  px-2 my-2' %>
<% end %>
<div class:'mt-2'>
  <%= link_to "Show", book_path(@book) %>
  <span>|</span>
  <%= link_to "Back", books_path %>
</div>