<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p><%= link_to "New Book", new_book_path %></p>
    <p><%= link_to "Top", root_path %></p>


    <% if user_signed_in? %>
      <p><%= link_to "edit user", edit_user_path(current_user.id) %></p>
      <li>
        <%= link_to "Users", users_path %>
      </li>
      <li>
        <%= link_to "Books", books_path %>
      </li>
      <li>
        <%= link_to "log out", destroy_user_session_path, method: :delete %>
      </li>
    <% else %>
      <li>
        <a>About</a>
      </li>
      <li>
        <%= link_to "Sign Up", new_user_registration_path %>
      </li>
      <li>
        <%= link_to "log in", new_user_session_path %>
      </li>
    <% end %>
    <%= yield %>
  </body>
</html>
